.banner {
    padding: 50px 30px;
    height: 310px;
    background-image: url(../../assets/png/product-banner.png);
    background-size: cover;
  }
  .banner .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
  }
  .banner .wrapper .title{
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0px 40px;
  }
  .banner .wrapper .hr{
    width: 56px;
    height: 2px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .banner .wrapper .button{
    padding: 16px 40px;
    background-color: #FFFFFF;
    border-radius: 8px;
    
    font-size: 14.4px;
line-height: 16px;
    color: #000000;
    font-weight: bold;
  }

  @media screen and (min-width: 768px) {
    .banner .wrapper .title{
        font-weight: 600;
        font-size: 38px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
      }
      .banner .wrapper .hr{
        width: 56px;
        height: 2px;
        background: #FFFFFF;
        border-radius: 5px;
        margin-top: 25px;
        margin-bottom: 30px;
      }
      .banner .wrapper .button{
        
        font-size: 18px;
        line-height: 20px;
      }
  }
  @media screen and (min-width: 1050px) {}